
.header {
    height: 40px;
    background-color: #B4E1E6;
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}

.header_navbar-list {
    list-style: none;
    display: inline-block;
    margin-top: 13px;
    margin-right: 100px;
    font-size: 13px;
    display:flex;
}

.header_navbar-item {
    margin: 0 8px;
    position: relative;
    display: none;
}

.header_navbar-item-notify:hover .notify {
    display: block;
}

.header_navbar-item-link {
    text-decoration: none;
}

.header_navbar-list-main {
    list-style: none;
    display: inline-block;
    margin-left: 120px;
    margin-top: 4px;
    font-size: 35px;
    font-family: 'Shalimar',  cursive;
}

.header_navbar-item .header_navbar-item--strong {
    font-weight: 700;
    display: none;
}

.header_navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #000;
    height: 15px;
    right: -9px;
    top: 5px;
    transform: translateY(-50%);
}

.header_navbar-item--strong:hover {
    cursor: pointer;
    color: rgba(49, 45, 45, 0.7);
}

.header_navbar-icon {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.header_navbar-list-icon {
    margin-top: 8px;
    margin-left: 200px;
}

.header_navbar-user {
    display: none;
    justify-items: center;
    position:relative;
}
.header_navbar-user-img {
    width: 22px;
    height: 22px;
    margin-top: -5px;
}

.header_navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-user:hover .header_navbar-user-menu {
    display:block;
}

.header_navbar-user-menu {
    position:absolute;
    padding-left: 0px;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 150px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style:none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header_navbar-user-menu::before {
    content: "";
    border-width: 14px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 4px;
    top: -27px;
}

.header_navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display:block;
}

.header_navbar-user-item a:hover {
    background-color: #fafafa;
}
.notify {
    position:absolute;
    top: 150%;
    width: 404px;
    right: 0;
    border: 1px solid #f3f3f3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top;
    animation: NotifyGrowth ease-in 0.25s;
    -webkit-animation: NotifyGrowth ease-in 0.25s;
    -ms-animation: NotifyGrowth ease-in 0.25s;
    -o-animation: NotifyGrowth ease-in 0.25s;
    -moz-animation: NotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    display: none;
}

.notify::before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 4px;
    top: -27px;
}

.notify::after {
    content: "";
    position:absolute;
    display:block;
    right: 0;
    top: -16px;
    width: 100%;
    height: 20px;
}
@keyframes NotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.notify-header h3 {
    color: #999999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}

.notify-list {
    padding-left: 0;
}

.notify-item {
    display: flex;
}

.notify-item:hover {
    background-color: #f7f7f7;
}

.notify-link {
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
    background-color: rgba(238, 75, 43, 0.08);
    /* background-color: #e3f0f1; */

}

.notify-img {
    width: 48px;
    object-fit: contain;
}

.notify-info {
    margin-left: 12px;
}

.notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 10px;
}

.notify-footer {
    display:flex;
}

.notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 0px;
    width: 100%;
    font-weight: 600;
    text-align: center;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */
.container-1 {
    height: 80px;
}

.center_navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 200px;
    margin-top: -10px;
    height: 90px;
    width: 80px;
}

.search {
    height: 40px;
    width: 600px;
    border: 2px solid #000;
    margin-top: 17px;
    margin-left: -40px;
}

.search-item {
    display: inline-block;
}

.item-1 {
    font-size: 18px;
    margin-left: 8px;
    margin-top: 8px;
}

.item-2 {
    color: #9C9494;
    margin-left: 10px;
    border: none;
    width: 81%;
}

.item-2:focus {
    outline: 0;
    color: var(--black-color);
}
.item-3 {
    background-color: #B4E1E6;
    /* margin-left: 395px; */
    padding: 15px 15px 11px 15px;

}
.cart {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.cart-1 {
    padding-left: 35px;
}

.cart-2 {
    font-size: 30px;
    padding-left: 32px;
}

.circle{
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 10px;
    padding-top: 1px;
    background: white;
    border: 2px solid #000;
    text-align: center;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
.container-2{
    justify-content: space-between;
}

#menu{
    border: 1px solid #499BA4;
    height: 45px;
    background-color: #499BA4;
    font-size: 15px;
}

#menu ul{
    margin-top:  13px;
}

#menu ul li{
    list-style-type: none;
    display: inline;
    margin: 0px 100px;
}

#menu ul li a:link {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 800;
}
              
#menu ul li a:visited{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
              
#menu ul li a:hover{
    color: #000;
    background-color: #B4E1E6;
    font-weight: 800;
}

.text-1 {
    width: 100px;
    height: 100px;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-3{
    justify-content: space-between;
}

.store-1 {
    background-color: #cee3e5;
    height: 40px;
    margin-top: 10px;
}

.text-2 {
    font-size: 15px;
    padding: 12px 630px 12px 630px;
    font-style: italic ;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-4 {
    display: flex;
    justify-content: space-between;
}

.store-2 {
    height: 1000px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.store-2-info {
    text-align: center;
    padding: 30px 10px;
    height: 750px;
}

.text-3 {
    font-size: 80px;
    font-weight: 500;
    padding-top: 60px;
}

.text-4 {
    color: #1FCDE0;
    font-size: 170px;
    font-weight: 1000;
    padding-top: 25px;
}

.text-5 {
    color: #FF0303;
    font-size: 100px;
    font-weight: 600;
    padding-top: 60px;
}

.sale {
    font-size: 200px;
}

.text-6 {
    font-size: 15px;
    font-style: italic;
    padding: 65px 100px 25px 1070px;
    text-align: left;
}

.store-2-list {
    background-color: rgba(175, 199, 209, 0.2);
    height: 250px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.store-2-list-item {
    height: 200px;
    width: 150px;
    line-height: 15px;
}

.store-2-list-item-img {
    width: 150px;
}

.store-2-list-item-name {
    font-size: 13px;
    font-weight: 500;
}

.store-2-list-item-gia {
    padding-top: 2px;
    font-size: 13px;
}

.store-2-list-item-icon-1 {
    padding-left: 45px;
}

.store-2-list-item-icon-2 {
    padding-right: 45px;
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
.container-5 {
    justify-content: space-between;
}

.store-3 {
    height: 550px;
    display:flex;
    justify-content: space-between;
    padding: 80px 250px 20px 250px;
}

.store-3-list-item {
    height: 200px;
    line-height: 20px;
}

.store-3-list-item-img {
    width: 300px;
}

.store-4 {
    height: 550px;
    display:flex;
    justify-content: space-between;
    padding: 0px 250px 20px 250px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container-6 {
    justify-content: space-between;
}

.store-5 {
    text-align: center;
}

.define {
    font-size: 50px;
    font-weight: 700;
    margin-top: -50px;
}

.define-img {
    width: 1020px;
    padding-top: 20px;
    padding-bottom: 100px;
}

.store-6 {
    height: 550px;
    width: 1020px;
    display:flex;
    justify-content: space-between;
    padding: 0px 0px 20px 0px;
    margin: 0px 250px 20px 250px;
    overflow-x: auto; 
    gap: 6rem;
}
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    background-color: #dfeef1;
}
::-webkit-scrollbar-thumb {
    background-color: #1f5d64;
    border-radius: 10px;
}

.store-6-list-item-mt {
    font-size: 10px;
    font-weight: 500;
}

.store-7 {
    display:flex;
    justify-content: space-between;
    padding: 50px 250px 30px 250px;
}

.store-8 {
    display:flex;
    justify-content: space-between;
    padding: 50px 550px 30px 550px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.footer {
    background-color: #B4E1E6;
    height: 460px;
}

#logo-shop {
    width: 90px;
}

#hr1 {
    width: 900px;
    height: 1px;
    color: black;
    background-color: #000;
}

#hr2 {
    width: 1300px;
    height: 1px;
    color: black;
    background-color: #000;
}

#Context-footer {
    display: flex;
    margin: 25px 500px 25px 113px;
    justify-content: space-between;
    line-height: 30px;
}

.font-1 {
    font-size: 15px;
    font-weight: 800;
}

.font-2 {
    font-size: 13px;
}

.font-3 {
    padding-right: 5px;
}

.font-4 {
    font-size: 25px;
}

.bct {
    padding: 0px 400px 0px 850px;
}

.map {
    margin: -240px 0px 0px 1130px;
}
/* --------------------------------------------------------------------------------------------------------------- */

.modal {
    display: none;
}

.auth-form-header {
    display: none;
}

.auth-form-container {
    padding: 30px;
}

.auth-form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form-header-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form-heading {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.auth-form-switch {
    font-size: 1.6rem;
    color:  #499BA4;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 20px;
}

.auth-form-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding:0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form-input:focus {
    border-color: #888;
}

.auth-form-aside {
    margin-top: 25px;
}

.auth-form-policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form-text-link {
    color:#499BA4;
    text-decoration: none;
}

.auth-form-controls {
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}

.back {
    margin-right: 8px;
}

.auth-form-socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content:space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.socials-icon {
    font-size: 1.8rem;
}

.facebook.socials-icon {
    color: var(--white-color);

}

.facebook{
    color: var(--white-color);
    background-color: #3A5398;
}

.facegoo {
    margin: 0 36px;
}

.google {
    background-color: red;
    color: #fff;
}

.auth-form-help {
    display:flex;
    justify-content:flex-end;
}

.auth-form-help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393
}

.auth-form-help-separate {
    display:block;
    height: 22px;
    margin: -2px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.forgot {
    color: red;
}

.header_navbar-user {
    display:flex;
    justify-items: center;
    position:relative;
}
.header_navbar-user-img {
    width: 22px;
    height: 22px;
    margin-top: -5px;
}

.header_navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header_navbar-user:hover .header_navbar-user-menu {
    display:block;
}

.header_navbar-user-menu {
    position:absolute;
    padding-left: 0px;
    z-index: 1;
    top: 100%;
    right: 0;
    width: 150px;
    border-radius: 2px;
    background-color: var(--white-color);
    list-style:none;
    box-shadow: 0 1px 2px #b4e1e6;
    display: none;
}

.header_navbar-user-menu::before {
    content: "";
    border-width: 14px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:absolute;
    right: 4px;
    top: -27px;
}

